---
import Layout from "@/layouts/Layout.astro"

import Wsp from "@/components/Wsp.astro"

import Footer from "@/sections/Footer.astro"



import Nav from "@/sections/Nav.astro"
import Elementor from "@/sections/Elementor.astro"
---

<Layout description="About" title="Psy Electronics">
	<Elementor/>
	<Nav />
	<Wsp />

	<main>

	</main>

	<Footer />
</Layout>
