---
import ThemeToggle from "@/components/ThemeToggle.astro"

import GithubIcon from "@/icons/github.astro"
import LinkedinIcon from "@/icons/linkedin.astro"
import MapMarker from "@/icons/map-marker.astro"
---


<footer
	class="mt-20 flex w-full flex-col place-items-center border-t-2 border-primary pb-20 pt-6 md:flex-row md:justify-around"
>
	<a href="https://github.com/xtwgok3"
		><span class="text-center text-primary color">
			&copy; 2024 Psy-Electronics <span aria-hidden="true" class="hidden md:inline">|</span><br
				aria-hidden="true"
				class="block md:hidden"
			/> Todos los derechos reservados.
		</span></a
	>
	<address class="text-center text-primary color">
		<a
			href=""
			class="inline-block align-middle transition hover:scale-110 hover:opacity-60 mt-2 mb-2"
			target="_blank"
			rel="noopener"
			style="display: -webkit-box;color:rgb(255, 153, 153);"
			aria-label="ubicación del teatro en google maps, se abrirá en una nueva pestaña"
		>
		<MapMarker class="w-6 h-6 mr-0 mt--4"/>
			<p class="mt-0 mb-0" /> Chaco 139, Termas de Río Hondo,
			Santiago del Estero, Argentina.</p>
		</a>
	</address>

	<nav>
		<ul
			class="flex flex-row items-center gap-x-6"
			aria-label="redes sociales y botón para alternar tema"
		>
			<li>
				<a
					target="_blank"
					rel="noopener"
					aria-label="GitHub"
					href="https://github.com/xtwgok3/"
					class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
				>
					<GithubIcon
						class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
					/>
				</a>
			</li>
			
			<li>
				<a
					target="_blank"
					rel="noopener"
					aria-label="Linkedin"
					href="https://www.linkedin.com/in/carlos-alderete-806409274/"
					class="inline-block any-hover:scale-125 any-hover:opacity-70 motion-safe:transition motion-reduce:any-hover:scale-100"
				>
					<LinkedinIcon
						class="text-primary transition-colors duration-300 hover:text-accent motion-reduce:duration-0"
					/>
				</a>
			</li>
			


			<li>
				<ThemeToggle />
			</li>
		</ul>
	</nav>
</footer>
