---
import HeroLogo from "@/components/HeroLogo.astro"
---

<section class="flex flex-col place-items-center gap-4 lg:gap-9">
	<HeroLogo class="h-auto w-[300px] text-primary md:w-[500px]"/>
</section>


